body{
    font-family:Arial, sans-serif;
    background-color: #5f1e1e;
    text-align: center;
    padding-top: 100px;
}
.container{
    background-color: rgb(195, 230, 157);
    border-radius: 100px;
    box-shadow:0 4px 8px,rgb(0, 0, 0);
    display: inline-block;
    padding: 40px;
}
a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #5f1e1e;
    font-weight: bold;
}
input,textarea,button{
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #ca7171;
    border-radius: 6px;
}
button{
    background-color: #5d4e4e;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color:rgb(122, 167, 206);

}